//colors
$white: #FFFFFF;
$black: #000000;
$color_dove_gray_approx: #676a6c;
$color_mountain_meadow_approx: #1ab394;
$color_mystic_approx: #e7eaec;
$color_gossamer_approx: #179d82;
$color_silver_chalice_approx: #aeaeae;
$color_tapa_approx: #777;
$wild_sand: #f4f4f4;
$color_shamrock_approx: #1dc5a3;

//fonts
$font_0: Open Sans;
$font_1: helvetica;
$font_2: arial;
$font_3: sans-serif;

//urls
$url_0: url('../../assets/images/carousel/slide1.jpg');
$url_1: url('../../assets/images/carousel/slide2.jpg');
$url_2: url('../../assets/images/carousel/slide3.jpg');
$url_3: url('../../assets/images/carousel/slide4.jpg');
$url_4: url('../../assets/images/word_map.png');
$url_5: url('../../assets/images/avatar_all.png');

%extend_1 {
    background: transparent;
    color: $black !important;
    border-top: 6px solid $color_mountain_meadow_approx;
}

%extend_2 {
    left: 0;
    opacity: 0;
    z-index: 1;
}

%extend_3 {
    background-color: $color_gossamer_approx;
    border-color: $color_gossamer_approx;
    color: $white;
}
body.landing-page {
    color: $color_dove_gray_approx;
    font-family: $font_0, $font_1, $font_2, $font_3;
    background-color: $white;
}
.landing-page {
    section {
        p {
            color: $color_silver_chalice_approx;
            font-size: 13px;
        }
        &.timeline {
            padding-bottom: 30px;
        }
        &.comments {
            padding-bottom: 40px;
        }
    }
    address {
        font-size: 13px;
    }
    h1 {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 200;
    }
    .navy-line {
        width: 60px;
        height: 1px;
        margin: 60px auto 0;
        border-bottom: 2px solid $color_mountain_meadow_approx;
    }
    .navbar-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 200;
        .navbar {
            padding-right: 15px;
            padding-left: 15px;
            &.navbar-scroll {
                padding-top: 0;
                padding-bottom: 0;
                border-bottom: 1px solid $color_mystic_approx;
                border-radius: 0;
            }
        }
        > .container {
            padding: 0;
        }
    }
    .navbar-default {
        transition: all 0.3s ease-in-out 0s;
        background: transparent;
        &.navbar-scroll {
            background-color: $white;
            border-color: $white;
            padding: 15px 0;
            .navbar-nav > .active > a:focus {
                background: transparent;
                color: inherit;
            }
        }
        .navbar-brand {
            color: $white;
            height: auto;
            display: block;
            font-size: 14px;
            background: $white;
            padding: 15px 20px;
            border-radius: 0 0 5px 5px;
            font-weight: 700;
            transition: all 0.3s ease-in-out 0s;
            &:hover {
                background: $white !important;
                color: $white;
            }
            &:focus {
                background: transparent;
                color: $black;
            }
            & > img {
                width: 170px;
                margin-top: -8px;
            }
        }
        .nav li a {
            color: $white;
            font-family: $font_0, $font_1, $font_2, $font_3;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 14px;
        }
        .navbar-nav > {
            .active > a {
                @extend %extend_1;
                &:hover {
                    @extend %extend_1;
                }
                &:focus {
                    background: transparent;
                    color: $white;
                }
            }
            li > a {
                &:hover {
                    color: $color_mountain_meadow_approx !important;
                    background: inherit;
                }
                &:focus {
                    color: $white;
                    background: inherit;
                }
            }
        }
    }
    .navbar-scroll {
        &.navbar-default .nav li a {
            color: $color_dove_gray_approx;
            &:hover {
                color: $color_mountain_meadow_approx;
            }
        }
        .navbar-nav > li > a {
            padding: 20px 10px;
        }
    }
    .navbar-fixed-top {
        border: none !important;
        &.navbar-scroll {
            border-bottom: 1px solid $color_mystic_approx !important;
        }
        &.navbar-shadow {
            box-shadow: 0 0 5px 2px #e7eaec;
        }
    }
    .header-back {
        height: 470px;
        width: 100%;
        &.one {
            background: $url_0 50% 0 no-repeat;
            background-size: cover;
        }
        &.two {
            background: $url_1 50% 50% no-repeat;
            background-size: cover;
        }
        &.three {
            background: $url_2 50% 50% no-repeat;
            background-size: cover;
        }
        &.four {
            background: $url_3 50% 50% no-repeat;
            background-size: cover;
           /* -webkit-filter: grayscale(60%);*/
        }
    }
    #home  .carousel {
        height: 470px;
        .item {
            height: 470px;
            background-color: $color_tapa_approx;
        }
    }
    #home .carousel-caption {
        z-index: 10;
        position: absolute;
        top: 100px;
        right: 0;
        bottom: auto;
        left: auto;
        text-align: left;
        &.blank {
            top: 140px;
        }
        h1 {
            font-weight: 700;
            font-size: 38px;
            text-transform: uppercase;
            text-shadow: none;
            letter-spacing: -1.5px;
        }
        p {
            font-weight: 700;
            font-size: 18px !important;;
            text-transform: none;
            text-shadow: none;
        }
    }
    #home .carousel-inner {
        overflow: visible;
        .container {
            position: relative;
        }
        > .item > img {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            height: 470px;
        }
    }
    #home .carousel-fade {
        .carousel-inner {
            .item {
                opacity: 0;
                transition-property: opacity;
            }
            .active {
                opacity: 1;
                &.left {
                    @extend %extend_2;
                }
                &.right {
                    @extend %extend_2;
                }
            }
            .next.left {
                opacity: 1;
            }
            .prev.right {
                opacity: 1;
            }
        }
        .carousel-control {
            z-index: 2;
        }
    }
    #home .carousel-control {
        width: 6%;
        &.left {
            background: none;
        }
        &.right {
            background: none;
        }
    }
    #home .carousel-image {
        position: absolute;
        right: 10px;
        top: 150px;
    }
    #home .carousel-indicators {
        padding-right: 60px;
    }
    .transition-timer-carousel-progress-bar {
        height: 3px;
        background-color: $color_mountain_meadow_approx;
        width: 0;
        margin: 0;
        border: none;
        z-index: 11;
        position: relative;
    }
    .caption-link {
        color: $white;
        margin-left: 10px;
        text-transform: capitalize;
        font-weight: 400;
        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }
    .services {
        padding-top: 60px;
        h2 {
            font-size: 20px;
            letter-spacing: -1px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .features-block {
        margin-top: 40px;
    }
    .features-text {
        margin-top: 40px;
    }
    .features {
        small {
            color: $color_mountain_meadow_approx;
        }
        h2 {
            font-size: 18px;
            margin-top: 5px;
        }
        .big-icon {
            color: $color_mountain_meadow_approx !important;
        }
    }
    .features-text-alone {
        margin: 40px 0;
        h1 {
            font-weight: 200;
        }
    }
    .features-icon {
        color: $color_mountain_meadow_approx;
        font-size: 40px;
    }
    .navy-section {
        margin-top: 60px;
        background: $color_mountain_meadow_approx;
        color: $white;
        padding: 20px 0;
    }
    .gray-section {
        background: $wild_sand;
        margin-top: 60px;
    }
    .team-member {
        text-align: center;
        img {
            margin: auto;
        }
    }
    .img-small {
        height: 88px;
        width: 88px;
    }
    .client-plan {
        margin: 20px 30px 0;
        border-radius: 4px;
        &.selected {
            transform: scale(1.1);
            background: $wild_sand;
        }
        li {
            padding: 10px 16px;
            border-top: 1px solid $color_mystic_approx;
            text-align: center;
            color: $color_silver_chalice_approx;
        }
        .client-price span {
            font-weight: 700;
            color: $color_mountain_meadow_approx;
        }
    }
    li {
        &.client-desc {
            font-size: 13px;
            border-top: none;
            padding: 20px 16px;
        }
        &.client-title {
            background: $color_mountain_meadow_approx;
            color: $white;
            padding: 10px;
            border-radius: 4px 4px 0 0;
            font-size: 22px;
            font-weight: 600;
        }
    }
    .testimonials {
        padding-top: 80px;
        padding-bottom: 90px;
        background-color: $color_mountain_meadow_approx;
        background-image: $url_5;
    }
    .big-icon {
        font-size: 56px !important;
    }
    .contact {
        background-image: $url_4;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin-top: 60px;
    }
    .comments-avatar {
        margin-top: 25px;
        margin-left: 22px;
        .commens-name {
            font-weight: 600;
            font-size: 14px;
        }
        img {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
    .bubble {
        position: relative;
        height: 120px;
        padding: 20px;
        background: $white;
        border-radius: 10px;
        font-style: italic;
        font-size: 14px;
        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 14px 0;
            border-color: $white transparent;
            display: block;
            width: 0;
            z-index: 1;
            bottom: -15px;
            left: 30px;
        }
    }
    .btn-primary {
        background-color: $color_mountain_meadow_approx;
        border-color: $color_mountain_meadow_approx;
        color: $white;
        font-size: 14px;
        padding: 10px 20px;
        font-weight: 600;
        &:hover {
            @extend %extend_3;
        }
        &:focus {
            @extend %extend_3;
        }
        &:active {
            @extend %extend_3;
            background-image: none;
        }
        &.active {
            @extend %extend_3;
            background-image: none;
        }
        &.disabled {
            background-color: $color_shamrock_approx;
            border-color: $color_shamrock_approx;
            &:hover {
                background-color: $color_shamrock_approx;
                border-color: $color_shamrock_approx;
            }
            &:focus {
                background-color: $color_shamrock_approx;
                border-color: $color_shamrock_approx;
            }
            &:active {
                background-color: $color_shamrock_approx;
                border-color: $color_shamrock_approx;
            }
            &.active {
                background-color: $color_shamrock_approx;
                border-color: $color_shamrock_approx;
            }
        }
        &.active[disabled] {
            background-color: $color_shamrock_approx;
            border-color: $color_shamrock_approx;
        }
        &.btn-outline:hover {
            color: $white;
        }
    }
    .btn-primary[disabled] {
        background-color: $color_shamrock_approx;
        border-color: $color_shamrock_approx;
        &:hover {
            background-color: $color_shamrock_approx;
            border-color: $color_shamrock_approx;
        }
        &:focus {
            background-color: $color_shamrock_approx;
            border-color: $color_shamrock_approx;
        }
        &:active {
            background-color: $color_shamrock_approx;
            border-color: $color_shamrock_approx;
        }
    }
    &.pace .pace-progress {
        background: $white;
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
        height: 2px;
        transition: width 1s;
    }
    span.navy {
        color: $color_mountain_meadow_approx;
    }
    p.text-color {
        color: $color_dove_gray_approx;
    }
    a.navy-link {
        color: $color_mountain_meadow_approx;
        text-decoration: none;
        &:hover {
            color: $color_gossamer_approx;
        }
    }
    .navbar-nav > li > a {
        padding-top: 25px;
        border-top: 6px solid transparent;
    }
    .nav > li {
        &.active {
            border: none;
            background: inherit;
        }
        > a {
            padding: 25px 10px 15px;
        }
    }
    .navbar.navbar-scroll .navbar-brand {
        margin-top: 15px;
        border-radius: 5px;
        font-size: 12px;
        padding: 10px;
        height: auto;
    }
    .social-icon a {
        background: $color_mountain_meadow_approx;
        color: $white;
        padding: 4px 8px;
        height: 28px;
        width: 28px;
        display: block;
        border-radius: 50px;
        &:hover {
            background: $color_gossamer_approx;
        }
    }
    .btn-success.btn-outline:hover {
        color: $white;
    }
    .btn-info.btn-outline:hover {
        color: $white;
    }
    .btn-warning.btn-outline:hover {
        color: $white;
    }
    .btn-danger.btn-outline:hover {
        color: $white;
    }
    .open .dropdown-toggle.btn-primary {
        @extend %extend_3;
        background-image: none;
    }
    fieldset[disabled] .btn-primary {
        background-color: $color_shamrock_approx;
        border-color: $color_shamrock_approx;
        &:hover {
            background-color: $color_shamrock_approx;
            border-color: $color_shamrock_approx;
        }
        &:focus {
            background-color: $color_shamrock_approx;
            border-color: $color_shamrock_approx;
        }
        &:active {
            background-color: $color_shamrock_approx;
            border-color: $color_shamrock_approx;
        }
        &.active {
            background-color: $color_shamrock_approx;
            border-color: $color_shamrock_approx;
        }
    }
    .portfolio-box {
        display: block;
        position: relative;
        margin: 0 auto;
        max-width: 650px;
        .portfolio-box-caption {
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            color: $white;
            opacity: 0;
            background: $color_mountain_meadow_approx;
            transition: all .35s;
            .portfolio-box-caption-content {
                position: absolute;
                top: 50%;
                width: 100%;
                text-align: center;
                transform: translateY(-50%);
                .project-category {
                    padding: 0 15px;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 600;
                }
                .project-name {
                    padding: 0 15px;
                    font-size: 18px;
                }
            }
        }
        &:hover .portfolio-box-caption {
            opacity: 0.8;
        }
    }

    #technologyCarousel{
        li { list-style-type:none;}
        .thumbnail
        {
            background:transparent;
            border:none;
            a >img {
                background:transparent;
                height: 100px;
                width: 150px;
            }
        }
    }
}

.pace-inactive {
    display: none;
}

.features-block {
    .col-lg-4 {
        margin-bottom: 40px;
    }
}

    @media(min-width: 768px) {
        .landing-page {
            .navbar-wrapper {
                margin-top: 20px;
                .container {
                    padding-right: 15px;
                    padding-left: 15px;
                }
                .navbar {
                    padding-right: 0;
                    padding-left: 0;
                    border-radius: 4px;
                }
            }
            .featurette-heading {
                font-size: 50px;
            }
            #home .carousel-caption p {
                margin-bottom: 20px;
                font-size: 14px;
                line-height: 1.4;
            }
            .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }

    @media(max-width: 992px) {
        .landing-page #home .carousel-image {
            display: none;
        }
    }

    @media(max-width: 768px) {
        .landing-page {
            #home .carousel-caption {
                left: 5%;
                top: 80px;
                &.blank {
                    left: 5%;
                    top: 80px;
                }
                h1 {
                    font-size: 28px;
                }
            }
            .navbar {
                .navbar-brand {
                    margin-top: 6px;
                    border-radius: 5px;
                    font-size: 12px;
                    padding: 10px;
                    height: auto;
                }
                .navbar-header {
                    display: block;
                    float: none;
                    .navbar-toggle {
                        background-color: $white;
                        padding: 9px 10px;
                        border: none;
                    }
                }
                &.navbar-scroll .navbar-brand {
                    margin-top: 6px;
                }
            }
            .navbar-default {
                background-color: $white;
                border-color: $white;
                padding: 15px 0;
                .navbar-nav > .active > a {
                    color: inherit;
                    &:focus {
                        background: transparent;
                        color: inherit;
                    }
                    &:hover {
                        color: inherit;
                    }
                }
                .nav li a {
                    color: $color_dove_gray_approx;
                    &:hover {
                        color: $color_mountain_meadow_approx;
                    }
                }
            }
            #home .carousel-control {
                display: none;
            }
            .navbar-wrapper .navbar {
                padding-top: 0;
                padding-bottom: 5px;
                border-bottom: 1px solid $color_mystic_approx;
                border-radius: 0;
                padding-left: 15px;
                padding-right: 5px;
            }
            .nav > li > a {
                padding: 25px 10px 15px;
            }
            .navbar-nav > li > a {
                padding: 20px 10px;
            }
        }
    }

    @media(min-width: 992px) {
        .landing-page .featurette-heading {
            margin-top: 120px;
        }
    }

