<div class="landing-page" ng-init="InitLandingPage()">
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#home">
                        <img src="/assets/images/logo.png">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a class="page-scroll" href="#home">Home</a></li>
                        <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#services">Services</a></li>
                        <li><a class="page-scroll" href="#technology">Technology</a></li>
                        <li><a class="page-scroll" href="#portfolio">Portfolio</a></li>
                        <li><a class="page-scroll" href="#client">Client</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <section id="home">
        <div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel" ng-non-bindable>
            <ol class="carousel-indicators">
                <li data-target="#inSlider" data-slide-to="0" class="active"></li>
                <li data-target="#inSlider" data-slide-to="1"></li>
                <li data-target="#inSlider" data-slide-to="2"></li>
                <li data-target="#inSlider" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="wow bounceInLeft">Coding from the Heart<br/> to bring ideas to reality</h1>

                            <p class="wow bounceInRight">We are experts at understanding our customers' business ambitions.</p>

                            <p class="wow bounceInLeft"></p>
                        </div>
                        <!--<div class="carousel-image wow zoomIn">
                            <img src="assets/images/laptop.png" alt="laptop"/>
                        </div>-->
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back one"></div>

                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1 class="wow bounceInLeft">NO MATTER HOW <br/> LARGE YOUR COMPANY IS </h1>

                            <p class="wow bounceInRight">WebOsmotic has solutions for projects of all sizes.</p>

                            <p class="wow bounceInLeft"></p>
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back two"></div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1 class="wow bounceInLeft">Innovation Through <br/>  Technology</h1>

                            <p class="wow bounceInRight">Technology is making Business "A TEAM-SPIRIT.</p>

                            <p class="wow bounceInLeft"></p>
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back three"></div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1 class="wow bounceInLeft">Helping Our Clients <br/> Grow</h1>

                            <p class="wow bounceInRight">Move your business forward while bringing your customers closer.</p>

                            <p class="wow bounceInLeft"></p>
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back four"></div>
                </div>
            </div>
            <a class="left carousel-control" data-target="#inSlider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" data-target="#inSlider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <hr class="transition-timer-carousel-progress-bar" />
    </section>
    <section id="features" class="container services">
        <div class="row">

            <div class="col-sm-3">
                <h2>WHO WE ARE</h2>
                <img src="assets/images/who.gif" class="img-responsive" alt="dashboard">
                <p align="justify">Webosmotic Software is a trusted partner and a recognized leader in providing application
                    outsourcing, systems integration and solution delivery services was founded in the year 2010. Over
                    the years Webosmotic has successfully completed a wide range of development projects in the finance,
                    manufacturing, healthcare, government, education, e-commerce and retail sectors. </p>

            </div>
            <div class="col-sm-3">
                <h2>WHAT WE'LL ACHIEVE</h2>
                <img src="assets/images/what.jpg" class="img-responsive" alt="dashboard">
                <p align="justify"> The mission of Webosmotic is to create true business value by providing the skills and methods
                    necessary to improve the success rate of enterprise projects, reducing costs, and creating greater
                    alignment between systems and business users. We will lead the IT industry around the globe with the best
                     talent, the best clients and the best results .</p>

            </div>
            <div class="col-sm-3">
                <h2>WHERE WE SHINE</h2>
                <img src="assets/images/whoweare.jpg" class="img-responsive" alt="dashboard">
                <p align="justify">Our team of software professionals takes great pride in its work and derives on-going pleasure from
                    solving your IT problems. Our software experts want your experience with Webosmotic to be a smooth
                    and enjoyable journey of bringing your product to the market</p>

            </div>
            <div class="col-sm-3">
                <h2>BELIEVE IN CLIENT TRUST</h2>
                <img src="assets/images/clienttrust.jpg" class="img-responsive" alt="dashboard">
                <p align="justify">We hope to earn client trust and confidence through positive attitude, excitement for our work and
                    commitment to a long-term partnership. We promise to do whatever we can to ensure you receive
                    quantifiable business value as we help you adapt and move forward.</p>

            </div>
        </div>
    </section>

    <section id="about" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>About</h1>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-3 features-text wow fadeInLeft">
                    <p align="justify">Webosmotic is a software outsourcing company which has an experienced and qualified team of
                        specialists and offer wide range of advanced solutions in offshore software development services.
                        We are motivated and inspired to leverage advanced software technologies to accelerate your growth,
                        strengthen your market position and exceed your customer's expectations.Our client list at Webosmotic
                        includes companies ranging from hot, new start-ups to well-established corporations. Our clients
                        know that using our professional staff for IT needs helps to increase income streams, build or
                        improve communication channels, and simplify operations. The top priority at Webosmotic Software
                        is customer and client service.</p>
                </div>
                <div class="col-lg-3 features-text text-right wow fadeInRight">

                    <p align="justify">At Webosmotic Software we take delight in providing excellent customer service.
                        We guarantee we won’t oversell, and we don’t promise anything we can’t follow up on. We are honest
                        and completely accountable with our clients, always striving to provide services that best meet
                        your needs. Webosmotic stays on top of new advances in the information technology world,so you
                        can be assured that our software development technologies and techniques choices are at the
                        height of current knowledge and are rooted in a hands-on experience. Webosmotic has several
                        centers of excellence with dedicated domain and technology experts, with our corporate strategy
                        to best serve our clients, employees and overall business objectives</p>
                </div>
                <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                    <img src="assets/images/iphone.jpg" class="img-responsive" alt="dashboard">
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Services</h1>

                    <p>Whether you are looking for professional custom  development,web development,<br/>
                        mobile app development you have found the right Company.</p>
                </div>
            </div>
            <div class="row">
                <img src="assets/images/Why-us.jpg" class="img-responsive" alt="dashboard" width="1500px">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <h2>Product Development </h2>
                    <i class="fa fa-laptop big-icon pull-right"></i>
                    <p align="justify">Dedicated and project-proven teams to integrate with your in-house developers. Development using
                        the most suitable technologies & proven methodologies. Agile methods adopted to ensure overall
                        quality and efficiency.</p>
                </div>
                <div class="col-lg-5 features-text">
                    <h2>Responsive Design</h2>
                    <i class="fa fa-picture-o big-icon pull-right"></i>

                    <p align="justify">We can analyze the project issues, provide recommended actions and take over the development
                        work from current vendor or team. With re-confirmed requirements and proper project design and
                        planning your project can most likely be rescued.Flexible and scalable architectures.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <h2>Maintenance and Enhancement </h2>
                    <i class="fa fa-wrench big-icon pull-right"></i>

                    <p align="justify">We can provide ongoing maintenance and enhancements services for your applications. Bug fixes,
                        incident resolution and minor development with clear service management. We can analyze the
                        project issues, provide recommended actions and take over the development work from current
                        vendor or team.</p>
                </div>
                <div class="col-lg-5 features-text">
                    <h2>Application Development </h2>
                    <i class="fa fa-mobile-phone big-icon pull-right"></i>

                    <p align="justify">Tailor made application development to support your unique business requirements. Experience in
                        various industries and technical solutions. With re-confirmed requirements and proper project
                        design and planning your project can most likely be rescued.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="technology" class="comments gray-section" style="margin-top: 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn">
                    <div class="navy-line"></div>
                    <h1>Technology</h1>
                    <div class="testimonials-text"></div>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-4">
                    <div class="bubble" align="justify">
                        "Our Java developers have profound knowledge and solid experience in development and know
                        exactly how to utilize the huge potential of java technologies in most efficient way."
                    </div>
                    <div class="comments-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="assets/images/java.png">
                        </a>

                        <div class="media-body">
                            <div class="commens-name">
                                Java
                            </div>
                            <small class="text-muted">Never throw “Exception”</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bubble" align="justify">
                        "Webosmotic uses extensive libraries encompassing cutting-edge JavaScript languages and
                        technologies so we don’t have to reinvent the wheel."
                    </div>
                    <div class="comments-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="assets/images/nodejs.png">
                        </a>

                        <div class="media-body">
                            <div class="commens-name">
                                Node.JS
                            </div>
                            <small class="text-muted">Extensive Connection</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bubble" align="justify">
                        "At Webosmotic, escalate your experience as our Angular.JS developers tweak codes brilliantly
                        to personalize your needs.Let your users experience a smooth web performance with the use of
                        Angular.JS"
                    </div>
                    <div class="comments-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="assets/images/angular.png">
                        </a>

                        <div class="media-body">
                            <div class="commens-name">
                                Angular JS
                            </div>
                            <small class="text-muted">Doing things the Angular way</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bubble" align="justify">
                        "Webosmotic specialist has all technological skills needed to analyze client’s business
                        requirements and deliver a suitable solution.With a combination of versatility and extensibility,
                        jQuery has changed the way that millions of people write JavaScript."
                    </div>
                    <div class="comments-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="assets/images/jquery.png">
                        </a>

                        <div class="media-body">
                            <div class="commens-name">
                                Jquery
                            </div>
                            <small class="text-muted">Write less, do more</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bubble" align="justify">
                        "Webosmotic Software's HTML web development services are the perfect way to strike a balance
                        between low-cost and high-performance web applications and websites."
                    </div>
                    <div class="comments-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="assets/images/html.png">
                        </a>

                        <div class="media-body">
                            <div class="commens-name">
                                Html
                            </div>
                            <small class="text-muted">Structured document</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bubble" align="justify">
                        "Our dedicated team of development experts builds extraordinary applications offering a complete
                        range of UI design and graphic design services to cover your branding needs by creating an
                        appealing look that help our clients success."
                    </div>
                    <div class="comments-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="assets/images/css.png">
                        </a>

                        <div class="media-body">
                            <div class="commens-name">
                                Css
                            </div>
                            <small class="text-muted">Fullijustify after usage</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel slide" id="technologyCarousel" data-ride="carousel" ng-non-bindable>
                <div class="carousel-inner">
                    <div class="item active">
                        <ul class="thumbnails">
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="assets/images/bootstrap.png"alt=""></a>
                                    </div>

                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="assets/images/ajax.png" alt=""></a>
                                    </div>

                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="assets/images/Javascript.png" alt=""></a>
                                    </div>

                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="assets/images/backbone.png" alt=""></a>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div><!-- /Slide1 -->
                    <div class="item">
                        <ul class="thumbnails">
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="assets/images/gwt.png" alt=""></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="assets/images/d3.png" alt=""></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="assets/images/yeoman.png" alt=""></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="assets/images/jquerymobile.png" alt=""></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /Slide2 -->
                    <div class="item">
                        <ul class="thumbnails">
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="assets/images/sass.png" alt=""></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="assets/images/gae.png"alt=""></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="assets/images/j2ee.png" alt=""></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="assets/images/abularjsmaterial.png" alt=""></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /Slide3 -->
                </div>

                <nav>
                    <ul class="control-box pager">
                        <li><a data-slide="prev" role="button" data-target="#technologyCarousel" class="">
                            <i class="glyphicon glyphicon-chevron-left"></i></a></li>
                        <li><a data-slide="next" role="button" data-target="#technologyCarousel" class="">
                            <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    </ul>
                </nav>
                <!-- /.control-box -->

            </div><!-- /#myCarousel -->
        </div>
    </section>

    <section id="portfolio" class="no-padding">
        <div class="container-fluid">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Portfolio</h1>

                    <i><p>"Talent that transforms the world of Business"</p></i>
                </div>
            </div>
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/images/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/images/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/images/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/images/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/images/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/images/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="client" class="client">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>What Our Clients Have to Say</h1>
                    <i class="fa fa-comment big-icon"></i>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 wow zoomIn">
                    <ul class="client-plan list-unstyled">
                        <li class="client-title">
                            Basic
                        </li>
                        <li class="client-desc">
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an
                            soluta sensibus.
                        </li>
                        <li class="client-price">
                            <span>$16</span> / month
                        </li>
                        <li>
                            Dashboards
                        </li>
                        <li>
                            Projects view
                        </li>
                        <li>
                            Contacts
                        </li>
                        <li>
                            Calendar
                        </li>
                        <li>
                            AngularJs
                        </li>
                        <li>
                            <a class="btn btn-primary btn-xs" href="#">Signup</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 wow zoomIn">
                    <ul class="client-plan list-unstyled selected">
                        <li class="client-title">
                            Standard
                        </li>
                        <li class="client-desc">
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an
                            soluta sensibus.
                        </li>
                        <li class="client-price">
                            <span>$22</span> / month
                        </li>
                        <li>
                            Dashboards
                        </li>
                        <li>
                            Projects view
                        </li>
                        <li>
                            Contacts
                        </li>
                        <li>
                            Calendar
                        </li>
                        <li>
                            AngularJs
                        </li>
                        <li>
                            <strong>Support platform</strong>
                        </li>
                        <li class="plan-action">
                            <a class="btn btn-primary btn-xs" href="#">Signup</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 wow zoomIn">
                    <ul class="client-plan list-unstyled">
                        <li class="client-title">
                            Premium
                        </li>
                        <li class="client-desc">
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an
                            soluta sensibus.
                        </li>
                        <li class="client-price">
                            <span>$160</span> / month
                        </li>
                        <li>
                            Dashboards
                        </li>
                        <li>
                            Projects view
                        </li>
                        <li>
                            Contacts
                        </li>
                        <li>
                            Calendar
                        </li>
                        <li>
                            AngularJs
                        </li>
                        <li>
                            <a class="btn btn-primary btn-xs" href="#">Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row m-t-lg">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
                    <p>*Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model
                        text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <span
                                class="navy">Various versions</span> have evolved over the years, sometimes by accident,
                        sometimes on purpose (injected humour and the like).</p>
                </div>
            </div>
        </div>

    </section>

    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contact Us</h1>

                    <p>We are here to help you.</p><i class="fa fa-hand-o-down big-icon" style="color:#1ab394"></i>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-3 col-lg-offset-3">
                    <address>
                        <strong><span class="navy">WebOsmotic</span></strong><br/>
                        A-6 GF Bhattar Road<br/>
                        Gujarat, Surat-395017<br/>
                        <abbr title="Phone">P:</abbr> (+91)9662513860
                    </address>
                </div>
                <div class="col-lg-4">
                    <p class="text-color">
                        Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis,
                        totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis,
                        totam corporis ea,
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>For an application and employment inquiry, please
                    <a href="mailto:test@email.com" class="btn btn-primary">Click Here</a></p>

                    <p class="m-t-sm">
                        Or follow us on social platform
                    </p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; Copyright © 2005 Webosmotic Software Development Company</strong></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Local script for menu handle -->
    <!-- It can be also directive -->

    <script type="text/javascript">
        var cbpAnimatedHeader = (function () {
            var docElem = document.documentElement,
                    header = document.querySelector('.navbar-default'),
                    didScroll = false,
                    changeHeaderOn = 200;
            function init() {
                window.addEventListener('scroll', function (event) {
                    if (!didScroll) {
                        didScroll = true;
                        setTimeout(scrollPage, 250);
                    }
                }, false);
            }
            function scrollPage() {
                var sy = scrollY();
                if (sy >= changeHeaderOn) {
                    $(header).addClass('navbar-shadow')
                }
                else {
                    $(header).removeClass('navbar-shadow')
                }
                didScroll = false;
            }
            function scrollY() {
                return window.pageYOffset || docElem.scrollTop;
            }
            init();
        })();
    </script>
</div>
